argparse
rich
setuptools
huggingface_hub
numpy
accelerate
pyyaml
torchvision -index-url https://download.pytorch.org/whl/cu118                                                                            
torchaudio -index-url https://download.pytorch.org/whl/cu118                                                                            
bitsandbytes>=0.39.0
accelerate>=0.16.0,<1
transformers[torch]>=4.28.1
torch>=1.13.1
